.TictactoeBtn{
-fx-min-height: 100px;
-fx-min-width: 100px;
-fx-alignment: center;
}
.Empty{
-fx-background-color: white;
-fx-text-fill: white;
}
.X{
-fx-background-color: white;
-fx-text-fill: black;
}
.O{
-fx-background-color: white;
-fx-text-fill: black;
}
.home{
-fx-background-color: #999999;
-fx-background-radius: 5px;
-fx-padding: 50px 50px;
}

